/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 顶部渐变背景 */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(0,rgba(0,0,0,0) 0,rgba(0,0,0,.4) 42.36%,rgba(0,0,0,.8) 100%); /* 灰色渐变 */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    z-index: 3;
  }
  
  header .logo img {
    height: 120px;
  }
  
  /* 主体布局 */
  .news {
    display: flex;
    width: 100%;
    padding: 20px;
  }

  h2 {
    font-family: '楷体';
    padding: 1em;
  }
  
  header+h2{
    margin-top: 150px; /* 避免顶部固定栏遮挡 */
  }
  /* 左、中、右列的比例 */
  .news .left-column {
    flex: 1;
  }
  
  .news .mid-column {
    flex: 2;
    min-height: 60vh; /* 暂定一个最小高度，后续可以调整 */
    overflow: hidden;
  }

  .news .mid-column figure {
    width: 100%;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .news .mid-column figure figcaption {
    border: 10px;
  }
  
  .news .right-column {
    flex: 1;
  }
  
  h3.col-title {
    font-family: '楷体';
    border-bottom: #068358;
    position: relative;
    padding: 10px;
  }
  h3.col-title::after {
    content: ''; /* 必须设置为内容为空 */
    position: absolute;
    left: 0;
    bottom: 0px; /* 线条与标题的间距 */
    width: 100%;
    height: 3px;
    background-color: #068358; /* 绿色的线条 */
  }
  /* 左右列表 */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: center;
    /*height: 100px;*/
    width: 100%;
    margin-bottom: 0px;
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
  }
  
  a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }
  
  a:hover {
    color: #0073e6;
  }

  .item-title {
    color: #980436;
    display: block;
    font-size: 0.8rem;
  }

  .item-content {
    font-weight: bold;
    display: block;
  }

  .item-intro {
    color: #707070;
    display: block;
    font-size: 0.8rem;
    padding-top: 10px;
  }
  
  /* 适配移动端 */
  @media (max-width: 768px) {
    .news {
      flex-direction: column;
    }
    .left-column, .mid-column, .right-column {
      flex: none;
      width: 100%;
    }
  }
  
  li::after {
    content: '';  /* 创建伪元素 */
    position: absolute;
    bottom: 0; /* 将横线定位在列表项底部 */
    left: 0;   /* 从左边开始 */
    width: 0%;  /* 初始时宽度为0 */
    height: 3px; /* 设置横线的高度 */
    background-color: #fbc600; /* 横线的颜色 */
    transition: width 0.5s ease; /* 平滑过渡 */
  }

  /* 鼠标悬浮到列表项时，横线宽度增加到100% */
  li:hover::after {
    width: 100%;  /* 鼠标悬浮时，横线从左向右延伸 */
  }

  .media_ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 140vh;
  }

  .media_ .left-column, .media_ .mid-column, .media_ .right-column {
    padding: 10px; /* 内边距 */
    height: 100%;
    box-sizing: border-box;
  }

  .media_ .left-column, .media_ .right-column , .media_ .mid-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 80vh;
  }
  .vx_link > * {
    margin: 0;
    padding: 0;
  }
  .vx_link {
    flex: 1;
    width: 100%;
    height: 60%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  }

  .vx_link img {
    display: block;
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .vx_link .intro {
    background-color: #707070;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .vx_link .intro .content {
    color: #eaeaea;
  }

  .vx_link .intro .title {
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }

  .review {
    display: grid;
    grid-template-columns: 5fr 2fr 3fr; /* 列分成5:3:2三部分 */
    gap: 10px; /* 列之间的间距 */
    height: 80vh;
  }
/*
  .review > * {
    overflow: scroll;
  }*/
  .review .left-column, .review .middle-column, .review .right-column {
    padding: 10px; /* 内边距 */
    height: 100%;
    box-sizing: border-box;
  }

/* 中间列 */
  .review .middle-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .review .middle-column figure {
    flex: 1;
    height: 100%;
  }


  .review figure {
    width: 100%;
  }

  .review figure img {
    width: 100%;
    display: block;
  }

  .review figcaption, .news .mid-column figcaption {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
  }

  .review figcaption::before, .news .mid-column figcaption::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #068358;
  }



.creations {
    text-align: center;
}

.canvas-container {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.upper-content, .lower-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    padding: 1rem;
}

.upper-content img, .lower-content img {
    width: 100%;
    /*position: relative; /* 设置图片为绝对定位 */
    /*bottom: -25%;          /* 将图片固定在父元素的底部 */
    /*left: 50%;          /* 将图片的左边缘移动到父元素宽度的50%处 */
    /*transform: translateX(-50%); /* 通过平移将图片水平居中 */
}

.upper-content img {
    margin-top: auto;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7{
  visibility: hidden;
  opacity: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}